/*******************************************************************************
**  Miki_Dark
**  - Inspired by Monokai, Solarized, Synthcity
**  - Style both RST and IPYNB posts
*******************************************************************************/
/* Background */
code, .highlight, pre {
    // background-color: #343434 !important;
    // color: #e0e0e0 !important;
    line-height: 1.2em;
}

@media print {
    .code, .highlight, pre {
        background-color: black !important;
        color: #e0e0e0 !important;
        font-family: monospace;
    }
}

.content code {
    background-color: transparent;
    padding: 0;
}

/* Text Selection */
.code::selection, .code *::selection, .highlight::selection, .highlight *::selection {
    background-color:#4060a0 !important;
    color: #eee !important;
}  
.code::-moz-selection, .code *::-moz-selection, .highlight::-moz-selection, .highlight *::-moz-selection {
    background-color:#4060a0 !important;
    color: #eee !important;
}

.code .err, .highlight .err { background-color: #1e0010; color: #960050 }  /* Error */

.code .c  , .highlight .c   { color: #6EA06E; font-style: italic }  /* Comment */
.code .ch , .highlight .ch  { color: #6EA06E; font-style: italic }  /* Comment.Hashbang */
.code .cm , .highlight .cm  { color: #6EA06E; font-style: italic }  /* Comment.Multiline */
.code .cp , .highlight .cp  { color: #6EA06E; font-style: italic }  /* Comment.Preproc */
.code .cpf, .highlight .cpf { color: #6EA06E; font-style: italic }  /* Comment.PreprocFile */
.code .c1 , .highlight .c1  { color: #6EA06E; font-style: italic }  /* Comment.Single */
.code .cs , .highlight .cs  { color: #6EA06E; font-style: italic }  /* Comment.Special */

.code .n  , .highlight .n   { color: #e0e0e0 }  /* Name */
.code .w  , .highlight .w   { color: #e0e0e0 }  /* Text.Whitespace */
.code .p  , .highlight .p   { color: #839496 }  /* Punctuation */
.code .o  , .highlight .o   { color: #839496 }  /* Operator */

.code .k  , .highlight .k   { color: #78B6F0; font-weight: bold }  /* Keyword */
.code .kd , .highlight .kd  { color: #78B6F0; font-weight: bold }  /* Keyword.Declaration */
.code .kp , .highlight .kp  { color: #78B6F0; font-weight: bold }  /* Keyword.Pseudo */
.code .kr , .highlight .kr  { color: #78B6F0; font-weight: bold }  /* Keyword.Reserved */
.code .kt , .highlight .kt  { color: #78B6F0; font-weight: bold }  /* Keyword.Type */
.code .ow , .highlight .ow  { color: #78B6F0; font-weight: bold }  /* Operator.Word */

.code .kn , .highlight .kn  { color: #BB7AC8; font-weight: bold }  /* Keyword.Namespace */
.code .kc , .highlight .kc  { color: #BB7AC8; font-weight: normal} /* Keyword.Constant (None) */
.code .bp , .highlight .bp  { color: #BB7AC8; font-weight: normal} /* Builtin.Pseudo (True/False) */

.code .l  , .highlight .l   { color: #eb8798 }  /* Literal */
.code .m  , .highlight .m   { color: #eb8798 }  /* Literal.Number */
.code .mb , .highlight .mb  { color: #eb8798 }  /* Literal.Number.Bin */
.code .mf , .highlight .mf  { color: #eb8798 }  /* Literal.Number.Float */
.code .mh , .highlight .mh  { color: #eb8798 }  /* Literal.Number.Hex */
.code .mi , .highlight .mi  { color: #eb8798 }  /* Literal.Number.Integer */
.code .il , .highlight .il  { color: #eb8798 }  /* Literal.Number.Integer.Long */
.code .mo , .highlight .mo  { color: #eb8798 }  /* Literal.Number.Oct */

.code .s  , .highlight .s   { color: #e6db74 }  /* Literal.String */
.code .sa , .highlight .sa  { color: #e6db74 }  /* Literal.String.Affix */
.code .sb , .highlight .sb  { color: #e6db74 }  /* Literal.String.Backtick */
.code .sc , .highlight .sc  { color: #e6db74 }  /* Literal.String.Char */
.code .dl , .highlight .dl  { color: #e6db74 }  /* Literal.String.Delimiter */
.code .sd , .highlight .sd  { color: #e6db74 }  /* Literal.String.Doc */
.code .s2 , .highlight .s2  { color: #e6db74 }  /* Literal.String.Double */
.code .sh , .highlight .sh  { color: #e6db74 }  /* Literal.String.Heredoc */
.code .si , .highlight .si  { color: #e6db74 }  /* Literal.String.Interpol */
.code .sx , .highlight .sx  { color: #e6db74 }  /* Literal.String.Other */
.code .sr , .highlight .sr  { color: #e6db74 }  /* Literal.String.Regex */
.code .s1 , .highlight .s1  { color: #e6db74 }  /* Literal.String.Single */
.code .ss , .highlight .ss  { color: #e6db74 }  /* Literal.String.Symbol */
.code .ld , .highlight .ld  { color: #e6db74 }  /* Literal.Date */
.code .se , .highlight .se  { color: #e6db74 }  /* Literal.String.Escape */

.code .nc , .highlight .nc  { color: #cb4b16; font-weight: bold }  /* Name.Class */
.code .nf , .highlight .nf  { color: #F2872F }                     /* Name.Function */
.code .nb , .highlight .nb  { color: #a9dc76 }                     /* Name.Builtin (lib functions) */

.code .fm , .highlight .fm  { color: #a9dc76 }  /* Name.Function.Magic */
.code .vc , .highlight .vc  { color: #e0e0e0 }  /* Name.Variable.Class */
.code .vg , .highlight .vg  { color: #e0e0e0 }  /* Name.Variable.Global */
.code .vi , .highlight .vi  { color: #e0e0e0 }  /* Name.Variable.Instance */
.code .vm , .highlight .vm  { color: #BB7AC8 }  /* Name.Variable.Magic */

.code .nt , .highlight .nt  { color: #dc322f; font-weight: bold }  /* Name.Tag */
.code .na , .highlight .na  { color: #CE87DC; font-style: italic}  /* Name.Attribute */

.code .no , .highlight .no  { color: #BB7AC8 }  /* Name.Constant */
.code .nd , .highlight .nd  { color: #839496 }  /* Name.Decorator */
.code .ni , .highlight .ni  { color: #a9dc76 }  /* Name.Entity */
.code .ne , .highlight .ne  { color: #a9dc76 }  /* Name.Exception */
.code .nl , .highlight .nl  { color: #4EC9B0 }  /* Name.Label */
.code .nn , .highlight .nn  { color: #e0e0e0 }  /* Name.Namespace */
.code .nx , .highlight .nx  { color: #e0e0e0 }  /* Name.Other */
.code .py , .highlight .py  { color: #e0e0e0 }  /* Name.Property */
.code .nv , .highlight .nv  { color: #e0e0e0 }  /* Name.Variable */

.code .gp , .highlight .gp  { color: #888888 }  /* Generic.Prompt */
.code .go , .highlight .go  { color: #888888 }  /* Generic.Output */
.code .gd , .highlight .gd  { color: #f92672 }  /* Generic.Deleted */
.code .gi , .highlight .gi  { color: #a6e22e }  /* Generic.Inserted */
.code .gh , .highlight .gh  { color: #eab7b4 }  /* Generic.Heading */
.code .gu , .highlight .gu  { color: #eb8798 }  /* Generic.Subheading */
.code .ge , .highlight .ge  { font-style: italic}  /* Generic.Emph */
.code .gs , .highlight .gs  { font-weight: bold }  /* Generic.Strong */