<script>
	import Modal from "./Modal.svelte";
	import List from "./List.svelte";
	import NewList from "./NewList.svelte";
	import {sortByName} from "./utils";

	// This will contain an array, with items such as {id: 3, name: "Bucket list"}.
	let lists;

	// The index of the currently selected tab in `lists`. When it's `undefined`,
	// that means that `lists` is still loading. When it's `-1`, the 'Add new list'
	// tab should be shown.
	let listIndex; 

	// On startup, retrieve the list of lists.
	// TODO! We're just simulating network latency here with a timeout.
	setTimeout(function() {
		let result = [{id: 1, name: "Fake", id: 2, name: "Data"}]
		// Sort the list, and assign it to the `lists` variable. This will cause an
		// automatic update.
		lists = sortByName(result);
		// Set the initial value for listIndex.
		listIndex = lists.length ? 0 : -1;
	}, 500);

	// This reactive declaration sets `list` to point at the currently selected list
	// object. If none is selected (because we're still loading or because the
	// 'add new list' tab is selected), it will be `undefined`.
	$: list = listIndex>=0 ? lists[listIndex] : undefined;

	// A callback function, used by the 'add new list' tab.
	function onNewListSubmit(name) {
		// Set loading screen
		listIndex = undefined;

		// TODO:
		// Post the new item to the API. When the result (including an `id`) comes back,
		// add that to `lists`, and make sure that `lists` is sorted and that you're assigning
		// to the `lists` variable (causing a render update).
		// Finally, update `listIndex` so that the tab for the just added list is shown.
	}
</script>

<main>
	{#if listIndex === undefined}
		<!-- While loading, show a spinner. -->
		<span class="material-icons loader">sync</span>
	{:else}
		<!-- Show the tab bar -->
		<nav>
			<button class:active={listIndex==-1} on:click={() => listIndex = -1}>
				<i class="material-icons">note_add</i>
			</button>
			{#each lists as list, index (list.id)}
				<button class:active={listIndex==index} on:click={() => listIndex = index}>
					{list.name}
				</button>
			{/each}
		</nav>

		{#if list}
			<!-- Show the currently selected list. -->
			<List listId={list.id} />
		{:else if listIndex===-1}
			<!-- Show 'add new list'. -->
			<NewList onSubmit={onNewListSubmit} />
		{/if}
	{/if}
</main>

<!-- There should be a single instance of the Modal component right in the <body> of the
page. Whenever Modal.openModal is used to set what the current modal should be, this is
the place in the HTML where it gets rendered.
-->
<Modal />
